<ion-header>
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="commit" lines="none">
    <ion-avatar slot="start">
      <ion-img [src]="commit.author?.avatar_url"></ion-img>
    </ion-avatar>
    <ion-label>
      <h1>{{ commit.commit.author.name }}</h1>
      <ion-note>{{ commit.commit.author.date | date: 'short' }}</ion-note>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="commit">
    <ion-item-divider mode="ios">
      <ion-label class="ion-text-center">Repository Name</ion-label>
    </ion-item-divider>
    <p class="ion-text-center ion-padding-horizontal"> {{commit.repository.name | uppercase}} </p>
    <ion-item-divider mode="ios">
      <ion-label class="ion-text-center">SHA</ion-label>
    </ion-item-divider>
    <p class="ion-padding-horizontal"> {{commit.sha}} </p>
    <ion-item-divider mode="ios">
      <ion-label class="ion-text-center">Commit Message</ion-label>
    </ion-item-divider>
    <p class="ion-padding-horizontal">{{commit.commit.message}}</p>
  </ion-list>
  <div class="ion-margin" *ngIf="commit">
    <ion-button class="ion-margin-top" color="secondary" (click)="openUrl(commit.html_url)" expand="block" fill="outline" shape="round">
      Open Commit
    </ion-button>
    <ion-button class="ion-margin-top" color="secondary" (click)="openUrl(commit.repository.html_url)" expand="block" fill="outline"
      shape="round">
      Open Repository
    </ion-button>
  </div>
</ion-content>