<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Commits
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="getScrollPos($event.detail.scrollTop)">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Commits
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="commitList">
    <ion-item-divider class="search" sticky>
      <ion-searchbar placeholder="Search" inputmode="text" type="text" [(ngModel)]="query" [debounce]="250">
      </ion-searchbar>
    </ion-item-divider>
    <ion-item *ngFor="let commit of commitList | search: query" (click)="showDetails(commit)">
      <ion-avatar slot="start">
        <img [src]="commit.author?.avatar_url" />
      </ion-avatar>
      <ion-label>
        <span class="date">
          <ion-note>{{ commit.commit.author.date | date: 'short' }}</ion-note>
        </span>
        <h3>{{ commit.commit.author.name }}</h3>
        <p>
          {{commit.commit.message}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item class="ion-text-center" *ngIf="commitList">
    <ion-label *ngIf="commitList.length == 0">No commits to show</ion-label>
    <ion-label *ngIf="commitList.length >= 100">Reached maximum row limit.</ion-label>
  </ion-item>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="backToTop" (click)="gotToTop()">
    <ion-fab-button color="secondary">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>