ion-col.separator {
  display: flex;
  flex-direction: row;
}

ion-col.separator:before,
ion-col.separator:after {
  content: " ";
  flex: 1 1;
  border-bottom: 1px solid #fff;
  margin: auto;
}
ion-item.user{
  --background: white;
  --color: black;
}